.status-summary {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.status-item {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.status-sigla {
  font-weight: bold;
}

.status-count {
  font-size: 1.2rem;
}
.urgent-row {
  background-color: #fff4cc; /* Amarillo claro, cálido pero visible */
}

.no-close-row {
  background-color: #ffd6d6; /* Rojo claro con un toque coral */
}

.overdue-yellow {
  background-color: #ffeeaa; /* Amarillo pastel más destacado */
}

.overdue-red {
  background-color: #ffc4c4; /* Rosa suave con un tono más cálido */
}
