<p-table [value]="clients"
        [rows]="10"
        [rowsPerPageOptions]="[10,15,20]"
        [loading]="loading"
        [paginator]="true"
        [scrollable]="true" scrollHeight="80vh">
    <ng-template pTemplate="header">
      <tr>
        @for (col of cols; track $index) {
            <th>{{ col.header }}</th>
        }
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        @for (col of cols; track $index) {
            <td>
                {{ col.field.includes('dataInfo') ? client.dataInfo[col.field.split('.')[1]] : client[col.field] }}
              </td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7" style="text-align: center; padding: 20px;">
                No tiene clientes asignados
            </td>
        </tr>
    </ng-template>
</p-table>