.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.25em;
}

form label {
  margin-bottom: 6px;
  margin-top: 1.2rem;
}

.dataDiv {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}
