<p-table
    [value]="opportunities"
    [rows]="10"
    [rowsPerPageOptions]="[10,15,20]"
    [loading]="loading"
    [paginator]="true"
    sortField="createdAt"
    [sortOrder]="-1"
    [scrollable]="true" scrollHeight="80vh">
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Acción                   
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Ruc
                    <p-columnFilter type="numeric" field="ruc" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Nombre
                    <p-columnFilter type="text" field="businessName" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Num Opp Sfa
                    <p-columnFilter type="numeric" field="SfaNumber" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Tipo
                    <p-columnFilter type="text" field="type" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Monto
                    <p-columnFilter type="numeric" field="type" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Producto
                    <p-columnFilter type="text" field="product" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Tipo Producto
                    <p-columnFilter type="text" field="productType" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Detalles producto
                </div>
            </th>
            <th pSortableColumn="createdAt">
                <div class="flex align-items-center" style="min-width:10rem">
                    Creación
                    <p-sortIcon field="createdAt"/>
                    <p-columnFilter type="date" field="createdAt" display="menu"/>
                    
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Modificación
                    <p-columnFilter type="date" field="updatedAt" display="menu"/>              
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Estado
                    <p-columnFilter type="text" field="state" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Cierre
                    <p-columnFilter type="date" field="estimatedClosingDate" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Comentario
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Persona Contactada
                    <p-columnFilter type="text" field="contactName" display="menu"/>
                </div>
            </th>
            <th>
                <div class="flex align-items-center" style="min-width:10rem">
                    Teléfono
                    <p-columnFilter type="text" field="contactNumber" display="menu"/>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-opportunity let-rowIndex="rowIndex">
        <tr>
            <td>
                @if(editingRowIndex===rowIndex){
                    <p-button label="Guardar" (onClick)="saveChanges(opportunity.id,opportunity.state,opportunity.commentary,opportunity.contactName,opportunity.contactNumber,opportunity.amount,opportunity.product,opportunity.type)" *ngIf="editingRowIndex === rowIndex"></p-button>
                    <p-button label="Cancelar" (onClick)="cancelEditing()" *ngIf="editingRowIndex === rowIndex"></p-button>
                }
                @else{
                    <p-button label="Modificar" (onClick)="startEditing(rowIndex)" *ngIf="editingRowIndex !== rowIndex"></p-button>
                }
            </td>
            <td (click)="openRecordsDialog(opportunity.id)">
                {{opportunity.ruc}}
            </td>
            <td>
                {{opportunity.businessName}}
            </td>
            <td>
                {{opportunity.SfaNumber}}
            </td>
            <td>
                @if (editingRowIndex===rowIndex) {
                    <p-dropdown [(ngModel)]="opportunity.type" [options]="opportunityTypes"></p-dropdown>
                }
                @else {
                    {{opportunity.type}}
                }
                
            </td>
            <td>
                @if(editingRowIndex===rowIndex){
                    <p-inputNumber
                        [(ngModel)]="opportunity.amount"
                        mode="decimal"
                        [useGrouping]="false"/>
                }
                @else{
                    {{opportunity.amount}}
                }
            </td>
            <td>
                @if(editingRowIndex===rowIndex){
                    <p-dropdown [(ngModel)]="opportunity.product"[options]="products"></p-dropdown>
                }
                @else {
                    {{opportunity.product}}
                }
                
            </td>
            <td>
                {{opportunity.productType}}
            </td>
            <td>
                {{opportunity.otherDetails}}
            </td>
            <td>
                {{opportunity.createdAt|date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{opportunity.updatedAt|date:'dd/MM/yyyy'}}
            </td>
            @if (editingRowIndex===rowIndex) {
                <td>
                    <p-dropdown [(ngModel)]="opportunity.state" [options]="states"></p-dropdown>
                </td>
                
            }
            @else {
                <td>
                    {{opportunity.state}}
                </td>
            }   
            <td>
                {{opportunity.estimatedClosingDate|date:'dd/MM/yyyy'}}
            </td>
            @if (editingRowIndex===rowIndex) {
                <td>
                    <textarea pInputTextarea [(ngModel)]="opportunity.commentary"></textarea>
                </td>
                
            }
            @else {
                <td>
                    {{opportunity.commentary}}
                </td>
            }
            @if (editingRowIndex===rowIndex) {
                <td>
                    <textarea pInputTextarea [(ngModel)]="opportunity.contactName"></textarea>
                </td>
                
            }
            @else {
                <td>
                    {{opportunity.contactName}}
                </td>
            }
            @if (editingRowIndex===rowIndex) {
                <td>
                    <textarea pInputTextarea [(ngModel)]="opportunity.contactNumber"></textarea>
                </td>
                
            }
            @else {
                <td>
                    {{opportunity.contactNumber}}
                </td>
            } 
        </tr>
    </ng-template>
</p-table>

