:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0; /* Fondo gris */
}

.login-box {
    width: 300px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco del cuadro */
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordes suaves */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
}

.login-box p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.login-box input,
.login-box p-password {
    margin: 10px 0;
    width: 100%;
}
