<div class="file-storage-container">
    <h2>Gestión de Archivos y Carpetas</h2>
  
    <!-- Botón para regresar -->
    <button *ngIf="folderHistory.length > 0" (click)="goBack()">Regresar</button>
  
    <!-- Formulario para crear una carpeta -->
    <div class="create-folder-section">
      <input
        type="text"
        [(ngModel)]="newFolderName"
        placeholder="Nombre de la nueva carpeta"
      />
      <button (click)="createFolder()">Crear Carpeta</button>
    </div>
  
    <!-- Sección para mostrar las carpetas -->
    <div class="folders-section">
      <h3 *ngIf="folderHistory.length === 0">Carpetas Principales</h3>
      <h3 *ngIf="folderHistory.length > 0">
        Carpetas en {{ folderHistory[folderHistory.length - 1].name }} ID: {{ folderHistory[folderHistory.length - 1].id }}
      </h3>
      <div class="folders-grid">
        <div
          class="folder-item"
          *ngFor="let folder of folders"
          (click)="selectFolder(folder)"
        >
          <i class="pi pi-folder folder-icon"></i>
          <span class="folder-name">{{ folder.name }}</span>
         
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <h1>Subir archivo a Firebase Storage</h1>
  
    <!-- Formulario para seleccionar archivo -->
    <input type="file" (change)="uploadFile($event)" />
  
    <!-- Mostrar el progreso de la carga -->
    <div *ngIf="uploadProgress > 0 && uploadProgress < 100">
      <p>Progreso de carga: {{ uploadProgress }}%</p>
    </div>
  
    <!-- Mostrar la URL de descarga cuando termine la carga -->
    <div *ngIf="uploadURL">
      <p>Archivo cargado con éxito!</p>
      <a [href]="uploadURL" target="_blank">Ver archivo</a>
    </div>
