<p-toast></p-toast> <!-- Agregar en la plantilla principal -->
<div class="file-storage-container">
  <!-- Botones para crear carpeta y subir archivo -->
   
  <p-button icon="pi pi-arrow-left" (onClick)="goBack()"/>
  <p-fileUpload 
    mode="basic" 
    chooseIcon="pi pi-upload" 
    maxFileSize="1000000" 
    (onSelect)="uploadOnFileSelect($event)" 
    [auto]="true" 
    chooseLabel="Subir Archivo" />

    <!-- Botón Crear Carpeta con Icono -->
  <p-button *ngIf="!isCreatingFolder" label="Crear Carpeta" icon="pi pi-folder" (click)="startFolderCreation()"></p-button>

  <!-- Formulario para crear la carpeta (aparece cuando isCreatingFolder es true) -->
  <div *ngIf="isCreatingFolder" class="folder-creation-form">
    <input type="text" pInputText [(ngModel)]="newFolderName" placeholder="Nombre de la carpeta" />
    <p-button label="Confirmar" icon="pi pi-check" (click)="confirmFolderCreation()"></p-button>
    <p-button label="Cancelar" icon="pi pi-times" (click)="cancelFolderCreation()"></p-button>
  </div>

    
  <!-- Contenedor scrollable para archivos y carpetas -->
  <div class="folders-files-container">
    <!-- Sección de carpetas y archivos -->
    <div class="folders-section">
      <!-- Título que cambia según el historial de carpetas -->
      <div *ngIf="folderHistory.length === 0">
      </div>
      <div *ngIf="folderHistory.length > 0">
        <h3>
          Contenido en {{ folderHistory[folderHistory.length - 1].name }} (ID: {{ folderHistory[folderHistory.length - 1].id }})
        </h3>
      </div>

      <!-- Grid de carpetas -->
      <div class="folders-grid">
        <div
          class="folder-item"
          *ngFor="let folder of folders"
          (click)="selectFolder(folder)"
        >
          <i class="pi pi-folder folder-icon"></i>
          <span class="folder-name">{{ folder.name }}</span>
        </div>

        <!-- Grid de archivos -->
        <div class="file-item" *ngFor="let file of files" (click)="downloadFile(file)">
          <i class="pi pi-file file-icon"></i>
          <span class="file-name">{{ file.fileName }}</span>
          <span class="file-size">({{ file.fileSize }})</span>
        </div>
      </div>
    </div>
  </div>
</div>
