.storageCard {
  border: 1px solid #ccc;
}

.folderCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.folderIcon {
  font-size: 2rem;
  color: #007ad9;
}

.fileCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.fileIcon {
  font-size: 2rem;
  color: #555;
}

.folder-name,
.file-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::ng-deep .p-fileupload .p-progressbar {
  height: 1.1rem;
}

.selected-folder {
  background-color: #d1e7ff; /* Un color suave para resaltar */
  border: 1px solid #339af0; /* Opcional: agregar un borde */
}

.selected-file {
  background-color: #d1e7ff; /* Un color suave para resaltar */
  border: 1px solid #339af0; /* Opcional: agregar un borde */
}
