@if (teamId) {
    <p-table
        [value]="opportunities"
        [loading]="loading"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,15,20]">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Creador
                        <p-columnFilter type="text" field="userAssigned" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Acciones
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Ruc
                        <p-columnFilter type="text" field="ruc" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Nombre
                        <p-columnFilter type="text" field="businessName" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Oportunidad SFA
                        <p-columnFilter type="numeric" field="SfaNumber" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Tipo
                        <p-columnFilter type="text" field="type" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Monto
                        <p-columnFilter type="numeric" field="type" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Producto
                        <p-columnFilter type="text" field="product" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Otros detalles
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Creación
                        <p-columnFilter type="date" field="createdAt" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Estado
                        <p-columnFilter type="text" field="state" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Cierre
                        <p-columnFilter type="date" field="estimatedClosingDate" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Comentario
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Persona Contactada
                        <p-columnFilter type="text" field="contactName" display="menu"/>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center" style="min-width:10rem">
                        Teléfono
                        <p-columnFilter type="text" field="contactNumber" display="menu"/>
                    </div>
                </th>
            </tr>
        </ng-template>
       <ng-template pTemplate="body" let-opportunity let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{opportunity.userAssigned}}
                </td>
                <td>
                    @if(editingRowIndex===rowIndex){
                        <p-button label="Guardar" (onClick)="saveChanges(opportunity.id,opportunity.state,opportunity.commentary,opportunity.contactName,opportunity.contactNumber,opportunity.amount,opportunity.product,opportunity.type)" ></p-button>
                        <p-button label="Cancelar" (onClick)="cancelEditing()"></p-button>
                    }
                    @else{
                        <p-button icon="pi pi-cog" [rounded]="true" (onClick)="startEditing(rowIndex)" *ngIf="editingRowIndex !== rowIndex"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" (onClick)="deleteOpportunity(opportunity.businessName,opportunity.id)"/>
                    }
                </td>
                <td (click)="openRecordsDialog(opportunity.id)">
                    {{opportunity.ruc}}
                </td>
                <td>
                    {{opportunity.businessName}}
                </td>
                <td>
                    {{opportunity.SfaNumber}}
                </td>
                <td>
                    @if (editingRowIndex===rowIndex) {
                        <p-dropdown [(ngModel)]="opportunity.type" [options]="opportunityTypes"></p-dropdown>
                    }
                    @else {
                        {{opportunity.type}}
                    }
                    
                </td>
                <td>
                    @if(editingRowIndex===rowIndex){
                        <p-inputNumber
                            [(ngModel)]="opportunity.amount"
                            mode="decimal"
                            [useGrouping]="false"/>
                    }
                    @else{
                        {{opportunity.amount}}
                    }
                </td>
                <td>
                    @if(editingRowIndex===rowIndex){
                        <p-dropdown [(ngModel)]="opportunity.product"[options]="products"></p-dropdown>
                    }
                    @else {
                        {{opportunity.product}}
                    }
                    
                </td>
                <td>
                    {{opportunity.otherDetails}}
                </td>
                <td>
                    {{opportunity.createdAt|date:'dd/MM/yyyy'}}
                </td>
                <td>
                    @if(editingRowIndex===rowIndex){
                        <p-dropdown [(ngModel)]="opportunity.state" [options]="states"></p-dropdown>
                    }
                    @else {
                        {{opportunity.state}}
                    }
                </td>
                <td>
                    {{opportunity.estimatedClosingDate|date:'dd/MM/yyyy'}}
                </td>
                <td>
                    @if(editingRowIndex===rowIndex){
                        <textarea pInputTextarea [(ngModel)]="opportunity.commentary"></textarea>
                    }
                    @else {
                        {{opportunity.commentary}}
                    }
                </td>
                <td>
                    @if (editingRowIndex===rowIndex){
                        <textarea pInputTextarea [(ngModel)]="opportunity.contactName"></textarea>
                    }
                    @else {
                        {{opportunity.contactName}}
                    }
                </td>
                <td>
                    @if (editingRowIndex===rowIndex){
                        <textarea pInputTextarea [(ngModel)]="opportunity.contactNumber"></textarea>
                    }
                    @else {
                        {{opportunity.contactNumber}}
                    }
                </td>
                
            </tr>
    
        </ng-template>
    </p-table>
}
@else {
    <p>No está asignado a ningún equipo</p>
}
