<form [formGroup]="opportunityForm" (ngSubmit)="onSubmit()">
    <p>Ingrese los datos</p>
  
    
      <label for="ruc">RUC</label>
      <input pInputText type="text" id="ruc" formControlName="ruc" required>
      <div *ngIf="isFieldInvalid('ruc')" class="error-message">
        {{ getFieldErrorMessage('ruc') }}
      </div>

      <label for="businessName">Nombre del Negocio</label>
      <input pInputText type="text" id="businessName" formControlName="businessName" required>
      <div *ngIf="isFieldInvalid('businessName')" class="error-message">
        {{ getFieldErrorMessage('businessName') }}
      </div>

      <label for="SfaNumber">Número SFA</label>
      <input pInputText type="number" id="SfaNumber" formControlName="SfaNumber" required>
      <div *ngIf="isFieldInvalid('SfaNumber')" class="error-message">
        {{ getFieldErrorMessage('SfaNumber') }}
      </div>

      <label for="oppSfaDateCreation">Fecha de Creación SFA</label>
      <p-calendar id="oppSfaDateCreation" formControlName="oppSfaDateCreation" dateFormat="yy-mm-dd" required></p-calendar>
      <div *ngIf="isFieldInvalid('oppSfaDateCreation')" class="error-message">
        {{ getFieldErrorMessage('oppSfaDateCreation') }}
      </div>

      <label for="type">Tipo</label>
      <p-dropdown id="type" [options]="opportunityTypes" formControlName="type" required></p-dropdown>
      <div *ngIf="isFieldInvalid('type')" class="error-message">
        {{ getFieldErrorMessage('type') }}
      </div>

      <label for="amount">Monto</label>
      <p-inputNumber
          formControlName="amount"
          mode="decimal"
          [useGrouping]="false"/>
      <div *ngIf="isFieldInvalid('amount')" class="error-message">
        {{ getFieldErrorMessage('amount') }}
      </div>

    <!--Comentario-->
      <label for="product">Producto</label>
      <p-dropdown id="product" [options]="products" formControlName="product" required></p-dropdown>
      <div *ngIf="isFieldInvalid('product')" class="error-message">
        {{ getFieldErrorMessage('product') }}
      </div>


      <label for="otherDetails">Detalles Adicionales</label>
      <textarea pInputTextarea id="otherDetails" formControlName="otherDetails"></textarea>
      <div *ngIf="isFieldInvalid('otherDetail')" class="error-message">
        {{ getFieldErrorMessage('otherDetail') }}
      </div>

      <label for="state">Estado</label>
      <p-dropdown id="state" [options]="states" formControlName="state" required></p-dropdown>
      <div *ngIf="isFieldInvalid('state')" class="error-message">
        {{ getFieldErrorMessage('state') }}
      </div>

      <label for="estimatedClosingDate">Fecha de Cierre Estimada</label>
      <p-calendar id="estimatedClosingDate" formControlName="estimatedClosingDate" dateFormat="yy-mm-dd" required></p-calendar>
      <div *ngIf="isFieldInvalid('estimatedClosingDate')" class="error-message">
        {{ getFieldErrorMessage('estimatedClosingDate') }}
      </div>

      <label for="commentary">Comentario</label>
      <textarea pInputTextarea id="commentary" formControlName="commentary"></textarea>
      <div *ngIf="isFieldInvalid('commentary')" class="error-message">
        {{ getFieldErrorMessage('commentary') }}
      </div>

      <label for="contactName">Nombre de contacto</label>
      <input pInputText type="text" id="contactName" formControlName="contactName" required>
      <div *ngIf="isFieldInvalid('contactName')" class="error-message">
        {{ getFieldErrorMessage('contactName') }}
      </div>

      <label for="contactNumber">Número de contacto</label>
      <input pInputText type="text" id="contactName" formControlName="contactNumber" required>
      <div *ngIf="isFieldInvalid('contactNumber')" class="error-message">
        {{ getFieldErrorMessage('contactNumber') }}
      </div>

    <button pButton type="submit" label="Crear Oportunidad" [disabled]="disable"></button>
  </form>
  