form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  
  form p {
    font-size: 1.2em;
    margin-bottom: 20px;
    align-self: center;
  }
  
  form label {
    margin-top: 10px;
  }
  
  form input[type="text"],
  form p-inputNumber,
  form p-calendar,
  form p-dropdown,
  form textarea {
    width: 100%;
    margin-top: 5px;
  }
  
  button {
    align-self: center;
    margin-top: 20px;
  }
  