<form [formGroup]="opportunityForm" (ngSubmit)="onSubmit()">
    <p>Ingrese los datos</p>
  
    
      <label for="ruc">RUC</label>
      <input pInputText type="text" id="ruc" formControlName="ruc" required>


      <label for="businessName">Nombre del Negocio</label>
      <input pInputText type="text" id="businessName" formControlName="businessName" required>


      <label for="SfaNumber">Número SFA</label>
      <input pInputText type="number" id="SfaNumber" formControlName="SfaNumber" required>


      <label for="oppSfaDateCreation">Fecha de Creación SFA</label>
      <p-calendar id="oppSfaDateCreation" formControlName="oppSfaDateCreation" dateFormat="yy-mm-dd" required></p-calendar>


      <label for="type">Tipo</label>
      <p-dropdown id="type" [options]="opportunityTypes" formControlName="type" required></p-dropdown>
 
      <label for="product">Producto</label>
      <p-dropdown id="product" [options]="products" formControlName="product" required></p-dropdown>

      <label for="otherDetails">Detalles Adicionales</label>
      <textarea pInputTextarea id="otherDetails" formControlName="otherDetails"></textarea>

      <label for="state">Estado</label>
      <p-dropdown id="state" [options]="states" formControlName="state" required></p-dropdown>

      <label for="estimatedClosingDate">Fecha de Cierre Estimada</label>
      <p-calendar id="estimatedClosingDate" formControlName="estimatedClosingDate" dateFormat="yy-mm-dd" required></p-calendar>

      <label for="commentary">Comentario</label>
      <textarea pInputTextarea id="commentary" formControlName="commentary"></textarea>



    <button pButton type="submit" label="Crear Oportunidad"></button>
  </form>
  