.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.form-box {
  border: 1px solid #ccc;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.p-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.p-field label {
  margin-bottom: 0.5rem;
}
