<div class="container">
  <div class="form-box">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="firstName">Nombre</label>
        <input
          id="firstName"
          type="text"
          pInputText
          formControlName="firstName"
        />
      </div>
      <div class="p-field">
        <label for="lastName">Apellido</label>
        <input
          id="lastName"
          type="text"
          pInputText
          formControlName="lastName"
        />
      </div>
      <div class="p-field">
        <label for="userName">Nombre de usuario</label>
        <input
          id="userName"
          type="text"
          pInputText
          formControlName="userName"
        />
      </div>
      <div class="p-field">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          pPassword
          formControlName="password"
          [feedback]="false"
        />
      </div>
      <div class="p-field" *ngIf="!isSupervisor">
        <label for="role">Rol</label>
        <p-dropdown
          id="role"
          formControlName="role"
          [options]="roles"
          optionLabel="label"
          placeholder="Seleccione un rol"
        ></p-dropdown>
      </div>
      <div class="p-field">
        <button pButton type="submit" label="Crear usuario"></button>
      </div>
    </form>
  </div>
</div>
