<div class="flex flex-column align-items-center">
  <div class="flex sm:w-3 md:w-6 lg:w-7 xl:w-8">
    <lottie-player
      src="/assets/piggy_blue.json"
      background="transparent"
      speed="3"
      loop
      autoplay
    ></lottie-player>
  </div>

  <div class="progress-info">
    <div class="flex justify-content-between gap-5">
      <div class="flex flex-column justify-content-center align-items-center">
        <p-tag severity="success" value="Acumulado" />
        <p class="sm:text-sm md:base lg:xl xl:text-2xl font-semibold">
          S/ {{ currentAmount | number : "1.0-0" }}
        </p>
      </div>
      <div class="flex flex-column justify-content-center align-items-center">
        <p-tag severity="danger" value="Meta" />
        <p class="sm:text-sm md:base lg:xl xl:text-2xl font-semibold">
          S/
          {{ goal | number : "1.0-0" }}
        </p>
      </div>
    </div>
  </div>
  <div class="w-3 justify-content-center">
    <p-progressBar [value]="percentage" [showValue]="false"></p-progressBar>
    <span class="text-base flex justify-content-center mt-2"
      >{{ fillPercentage | number : "1.2-2" }}%</span
    >
  </div>
</div>
