@if(teamId){
 
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" pInputText formControlName="firstName" />
          </div>
          <div class="p-field">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" pInputText formControlName="lastName" />
          </div>
          <div class="p-field">
            <label for="userName">Username</label>
            <input id="userName" type="text" pInputText formControlName="userName" />
          </div>
          <div class="p-field">
            <label for="password">Password</label>
            <input id="password" type="password" pPassword formControlName="password" />
          </div>
          <div class="p-field">
            <button pButton type="submit" label="Crear usuario"></button>
          </div>
        </form>

}
@else {
    <p>No está asignado a un equipo</p>
}

  
