.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.username {
  margin-left: 0.5rem;
  font-weight: bold;
}

/* Ajustar posición del menú desplegable */
::ng-deep .p-menu-overlay {
  top: 3rem !important; /* Ajusta según la altura de tu navbar */
  right: 0 !important;
  left: auto !important;
}
