<p-menubar [model]="menuItems">
  <ng-template pTemplate="end">
    <div
      class="user-menu"
      (mouseenter)="showMenu($event)"
      (mouseleave)="hideMenu()"
    >
      <p-avatar
        styleClass="my-2"
        [label]="name ? name[0].toUpperCase() : 'N'"
        shape="circle"
      />
      <span class="username mr-2">{{ name }}</span>
      <i class="pi pi-angle-down pt-1 mr-2"></i>
      <p-menu #menu [popup]="true" [model]="profileMenuItems"></p-menu>
    </div>
  </ng-template>
</p-menubar>
