.container {
  display: flex;
  gap: 20px;
}

.filters-pagination {
  display: flex;
  flex-direction: column; /* Coloca la paginación y los filtros en una columna */
  gap: 20px; /* Espaciado entre la paginación y los filtros */
  width: 250px; /* Ajusta el ancho según sea necesario */
}

.table-container {
  flex-grow: 1;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
}

.filter-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  align-self: start;
}
