<div class="p-d-flex p-jc-end mt-3 mb-3">
  <button
    pButton
    type="button"
    [label]="'Ver Resumen Mensual'"
    [icon]="showAttendanceTable ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
    (click)="goToMonthlyAttendanceSummary()"
    iconPos="right"
    class="p-button-primary"
  ></button>
  <button
    pButton
    type="button"
    label="Descargar Excel"
    (click)="downloadExcel()"
    class="p-button-info"
    style="margin-left: 10px"
  ></button>
</div>

<!-- Renderización condicional del AttendanceTableComponent -->
<app-attendance-table *ngIf="showAttendanceTable"></app-attendance-table>
