.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  text-align: center;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calendar-weekday {
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.calendar-day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
}

.outside-range {
  background-color: lightgray;
  color: white;
}

.weekend {
  background-color: lightgray;
  color: white;
}

.attendance-day {
  background-color: lightgreen;
  color: black;
}

.no-attendance-day {
  background-color: lightcoral;
  color: white;
}
.blank-day {
  background-color: transparent;
  border: none;
}
