<p-table [value]="clients"
        [rows]="10"
        [rowsPerPageOptions]="[10,15,20]"
        [loading]="loading"
        [paginator]="true"
        [scrollable]="true" scrollHeight="80vh">

        <ng-template pTemplate="caption">
            <div class="caption-container">
                <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-secondary"
                        (click)="toggleEditMode()" [disabled]="editMode"></button>
    
                <button pButton type="button" icon="pi pi-check" class="p-button-rounded p-button-success"
                        [disabled]="!editMode" (click)="assignClients()" style="margin-left: 10px;"></button>
    
                <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                        [disabled]="!editMode" (click)="cancelEditMode()" style="margin-left: 10px;"></button>
    
                        <p-multiSelect 
                        [options]="groupedUsers" 
                        [group]="true" 
                        [(ngModel)]="selectedUsers" 
                        placeholder="Seleccione los usuarios" 
                        scrollHeight="250px" 
                        [disabled]="!editMode">
                            <ng-template let-group pTemplate="group">
                                <div class="flex align-items-center">
                                    
                                    <span>{{ group.label }}</span>
                                </div>
                            </ng-template>
                    </p-multiSelect>
    
                <p-inputNumber [(ngModel)]="clientCount" [min]="1" [max]="clients?.length"
                               [disabled]="!editMode" placeholder="Cantidad de clientes" >
                </p-inputNumber>
            </div>
        </ng-template>
    <ng-template pTemplate="header">
      <tr>
        @for (col of cols; track $index) {
            <th>{{ col.header }}</th>
        }
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        @for (col of cols; track $index) {
            <td>
                {{ col.field.includes('dataInfo') ? client.dataInfo[col.field.split('.')[1]] : client[col.field] }}
              </td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7" style="text-align: center; padding: 20px;">
                <div class="empty-message-container">
                    <p class="empty-message">No hay clientes, seleccione el archivo para cargar la base</p>
                    <p-toast></p-toast>
                    <p-fileUpload 
                        name="demo[]" 
                        (onSelect)="onBasicUploadAuto($event)" 
                        [multiple]="false" 
                        accept="application/json" 
                        maxFileSize="10000000" 
                        chooseLabel="Subir Archivo"
                        styleClass="custom-file-upload">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length" class="file-list">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>