<p-table [value]="clients"
        [rows]="10"
        [rowsPerPageOptions]="[10,15,20]"
        [loading]="loading"
        [paginator]="true"
        [scrollable]="true" scrollHeight="80vh">
    <ng-template pTemplate="header">
      <tr>
        @for (col of cols; track $index) {
            <th>{{ col.header }}</th>
        }
        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        @for (col of cols; track $index) {
            <td>
                {{ col.field.includes('dataInfo') ? client.dataInfo[col.field.split('.')[1]] : client[col.field] }}
              </td>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7" style="text-align: center; padding: 20px;">
                <div class="empty-message-container">
                    <p class="empty-message">No hay clientes, seleccione el archivo para cargar la base</p>
                    <p-toast></p-toast>
                    <p-fileUpload 
                        name="demo[]" 
                        (onSelect)="onBasicUploadAuto($event)" 
                        [multiple]="false" 
                        accept="application/json" 
                        maxFileSize="10000000" 
                        chooseLabel="Subir Archivo"
                        styleClass="custom-file-upload">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length" class="file-list">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>