/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
.small-font {
    font-size: 12px; 
}
p-menubar {
    position: relative;
    z-index: 1000; /* Un número alto para asegurarte de que esté por encima de otros elementos */
  }
  