<!-- survey-list-page.component.html -->
<div class="flex justify-content-center mb-3">
  <div class="flex flex-row flex-wrap w-8 gap-4">
    <p-card *ngFor="let survey of paginatedSurveys">
      <!-- Parte superior: fecha creada -->
      <ng-template pTemplate="header">
        <div class="flex"></div>
      </ng-template>

      <!-- Cuerpo de la carta -->
      <ng-template pTemplate="body">
        <div class="flex flex-column h-full">
          <!-- Título, quien lo creó y número de preguntas -->
          <span>{{ survey.dateCreated | date : "short" }}</span>
          <h3>{{ survey.title }}</h3>
          <p><strong>Creador:</strong> Usuario {{ survey.userId }}</p>
          <p>
            <strong>Número de preguntas:</strong> {{ survey.questions.length }}
          </p>

          <!-- Botones -->
          <div class="p-d-flex p-jc-between p-mt-auto">
            <!-- Botón de Descargar Excel -->
            <button
              pButton
              label="Descargar Excel"
              icon="pi pi-download"
              class="p-button-success"
              (click)="downloadExcel(survey)"
            ></button>

            <!-- Botón de Cerrar Survey -->
            <button
              pButton
              label="Cerrar Survey"
              icon="pi pi-times"
              class="p-button-danger"
              (click)="closeSurvey(survey)"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<!-- Paginador -->
<p-paginator
  [rows]="6"
  [totalRecords]="surveys.length"
  [rowsPerPageOptions]="[6]"
  (onPageChange)="onPageChange($event)"
  class="p-mt-4"
></p-paginator>
